<!DOCTYPE html>
<html lang=fr>

<head>
	<meta charset=utf-8>
	<link rel=stylesheet href=/css>
	<title>{{.Title}}</title>
</head>

<body>
	<main>
		<header>
			<h1>{{.Title}}</h1>
			Dernière modification: {{.Date}}
		</header>
		{{.BodyHtml}}
	</main>
</body>

</html>
